*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F3E0;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.profil{
    display: flex;
    align-items: center;
    gap: 20px;

}
.img-box {
    flex-shrink: 0;
    border-radius: 15px;
    /*Ensuretheimagecontaineriscircular*/border: 3px solid #F3F3E0;
    overflow: hidden;
    width: 52px;
    height: 52px;
    display: flex;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
     margin-left: -7px; /*------------- */
}

.img-box img {
    width: 100%;
    height: 100%; /*This*/
    object-fit: cover; /* This */
}
h2{
    color: #F3F3E0;
}

.menu{
    background-color: #133E87;
    max-width: 78.3px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.menu:hover{
    max-width: 260px;
}
.menu:hover .img-box{
    width: 62px;
    height: 62px;
}

ul{
    list-style: none;
    height: 100%; /*This*/
    position: relative;
}
ul li a{
    display: flex;
    text-decoration: none;
    /* display: block; */
    margin: 20px 0;/*20px Top and bottom 0px left and right*/
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #608BC1;
    color: #F3F3E0;
    align-items: center;
    gap: 30px;
}
ul li a i{
    font-size: 18px;
    font-weight: bolder;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}


main{
    width: 100%;   
}
.content{
    max-width: 100%;
    margin: 20px;
}
.title-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: bolder;
    background-color: #edf3f8;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0;
}
.title-info p{
    color:black;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.data-info .box{
    background-color: #edf3f8;
    height: 150px;
    flex-basis: 200px;
    flex-grow: 1;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box i{
    color: #133E87;
    font-weight: bolder;
    font-size: 40px;
}
.box .data{
    font-size: 20px;
    color: black;
    text-align: center;
}
.data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 8px;
}

td,th {
    height: 40px;
    border-radius: 8px;
}

th{
background-color:#edf3f8 ;
color: black;
font-weight: bold;
font-size: 16px;
}

td{
    background-color: white;
    color: #23282d;
    font-weight: bold;
    font-size: 16px;
    transition: .5s;

}

td:hover{
    background-color: #133E87;


}
.price{

    background-color: aliceblue;

}

.count{

background-color: #ced2cc;

}
/* Media Query 789 && 1020 */
@media (max-width:1020px) and (min-width:789px) {
    .data-info .box{
       flex-basis: calc(50%-40px);
    }
}

@media (max-width:540px) {
    .menu{
       height: 100%;
    }
}
